* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }

a {
    text-decoration: none;
    color: rgb(253, 136, 2);
 }
header{
    position: absolute;
    background-image: url('../img/image1.jpg');
    height: 60vh;
    width: 100vw; 
    background-position: 80% 20%;
    background-size: cover;
    
}
.is-hidden {
    display: none;
  }
  
.headerI {
    position: relative;
        height: 60vh;
    background-color: #00000099;    
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between; */
}
.headerI>h1 {
    position: absolute;
    top: 0%; 
    left: 10%;
    color: rgb(253, 136, 2);
    font-size: 50px;
    font: 700;
    
}
.headerI>h2{
    position: absolute; 
    top: 90%; 
    display: inline-block;
    color: black;
    border: 1px solid black; 
    text-align: center;
    width: 100%;
    z-index: -999;
}

figure{
    position: relative;
    top: -100%;
    width: 10%; 
    background: black;
}

#logo{
   
    width: 100%;
}

nav {
    position: absolute; 
    top: 5%; 
    left: 70%;
}

nav > a {
    background-color: black;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: white 
}
#nav__a--active {
    background-color: rgb(253, 136, 2);
}
main{
    position: absolute; 
    top: 65%; 
    left: 30%;
}
article{
    margin: 20px; 
}
.mision{
  width: 800px;
}
.mision>p{
    margin-bottom: 10px;
}