* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.is-hidden {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(253, 136, 2);
}

.curtain {
    height: 60vh;
    width: 100vw;
    background-color: #00000099;
    position: absolute;
    z-index: 9;
}

header {
    background-image: url('../img/image1.jpg');
    height: 60vh;
    width: 100vw;
    background-position: 80% 20%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.title>figure {
    width: 10vw;
    height: 15vh;
    padding: 7px;
    margin: 20px;
    border-radius: 50%;
}

.title>h1 {
    color: rgb(253, 136, 2);
    font-size: 42px;
    font: 700;

}

.subtitle {
    color: rgb(253, 136, 2);
    border: 1px solid black;
    text-align: center;
    width: 90vw;
}

#logo {
    width: 100%;
    height: 100%;
}

nav {
    margin: 10px;
    margin-top: 30px;
    float: right;
}

nav>a {
    background-color: black;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: white
}

#nav__a--active {
    background-color: rgb(253, 136, 2);
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-end;
    text-align: center;
}

/* STYLES MISION */
article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
}

.mision {
    width: 800px;
}

.mision>p {
    margin-bottom: 10px;
}

/* STYLES RULES */

.main__rules-margin {
    margin-left: calc(100vw/5);

}
.article__rules{

   
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fff0f099;
    background-size:cover;
}



/* STYLES GAME INFO */
caption {
    margin-top: 20px;
    font-weight: bold;
}

table {
    margin-left: 100px;
    padding: 5px;
}

.footer__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin-left: calc(100vw/5);
}

.parrafos__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

td {
    padding-right: 20px;
    padding-left: 20px;
}

.carru{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion__carru {
    display: flex;
    width: 300px;
    height: 215px;
}

.seccion__carru .img__carru {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.seccion__carru .img__carru:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}