* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.is-hidden {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(253, 136, 2);
}

.curtain {
    height: 60vh;
    width: 100vw;
    background-color: #00000099;
    position: absolute;
    z-index: 9;
}

header {
    background-image: url('../img/image1.jpg');
    height: 60vh;
    width: 100vw;
    background-position: 80% 20%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title {
    width: 100vw;
    height: 20vh;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title>figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15vh;
    /* padding: 7px;
    margin: 20px; */
    border-radius: 50%;
}

.title>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
        width: 90%;
    color: rgb(253, 136, 2, 0.9);
    /* font-size: 42px; */
    font-size: 22px;

}

.subtitle {
    color: rgb(253, 136, 2);
    border: 1px solid black;
    text-align: center;
    width: 90vw;
}

.title>figure  #logo {
    width: 100px;
    height: 100px;
}

nav {
    /* margin: 10px;
    margin-top: 30px;
    float: right; */
    display: flex;
    flex-direction: column;
    

}

nav>a {
    /* display: none; */
    background-color: #00000099;
    padding: 10px;
    border: 1px solid black;
    color: white
    /* margin: 10px; */
    /* border-radius: 10px; */
}

#nav__a--active {
    background-color: rgb(253, 136, 2);
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-end;
    text-align: center;
}

/* STYLES MISION */
article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
}

.mision {
    width: 800px;
}

.mision>p {
    margin-bottom: 10px;
}

/* STYLES RULES */

.main__rules-margin {
    margin-left: calc(100vw/5);

}
.article__rules{

   
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fff0f099;
    background-size:cover;
}



/* STYLES GAME INFO */
.content__gameInfo {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}


caption {
    margin-top: 20px;
    font-weight: bold;
}

table {
    margin-left: 100px;
    padding: 5px;
}

.footer__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

.parrafos__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

td {
    padding-right: 20px;
    padding-left: 20px;
}

.carru{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion__carru {
    display: flex;
    width: 300px;
    height: 215px;
}

.seccion__carru .img__carru {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.seccion__carru .img__carru:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.mapa 
{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 40%;
}

/* STYLES REGISTRATION*/

.formReg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.address{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}
form{
text-align: start;
background-image: url('../img/hockey2.jpg');
margin: 5rem;
width: 80%;
vertical-align:middle;

}

fieldset {
    padding: 1rem;
}


.nearsch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.uniformSize, 
.positions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.label__street{
    width: 100%;
}
.input__street{
    width: 60vw;
}
.school{
    width: calc(50vw - 250px);
}

.permission{
    display:flex; 
    flex-direction: column;
}
.btnGuardar{
    display: block;
    width: 100%;
    background-color: black;
    color:rgb(253, 136, 2); 
    padding: 1rem;
    font-weight: bold;
    font-size: 30px;
}

@media only screen and (min-width: 1000px) {
    .title {
        flex-direction: row;
        justify-content: center;
    }
    
    .title>figure {
        padding: 7px;
        margin: 2px;
    }
    
    .title>h1 {
        display: unset;
        font-size: 42px;
    text-align: left;
    }
    
nav {
    margin: 10px;
    margin-top: 30px;
    float: right;
    flex-direction: unset;
}

nav>a {
    margin: 10px;
    border-radius: 10px;
}


}